body{
  background-image:url("../Images/background.jpg");
  margin-top: 2%;
  padding: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

}

.title {
  display: block;
  width: 50%;
  text-align: center;
  position: relative;
  margin: 0 auto;
  font-family: 'Luckiest Guy', cursive;
  color:rgba(0, 0, 0, 0);
  font-size: 100px;
  text-shadow: -2px 0 1px #ffae25, -4px 0 0 #82643e,  -6px 0 1px #fff,-6px 1px 1px #fff,-6px 2px 1px #fff, 0px 2px 1px #fff, 0px 1px 0px #fff, 0px 0 1px #fff,-6px -1px 1px #fff,
    -6px -2px 0px #fff, 0px -1px 0px #fff
    ,-1px -2px 0px #fff, 1px -1px 1px #fff,  1px -1px 1px #fff,-4px -2px 0px #fff,-3px -2px 0px #fff,-4px 2px 1px #fff, -3px 2px 1px #fff;
}

.title .titleDecor {
  text-shadow: -2px 0 1px  #e1385b, -4px 0 0 #82643e,  -6px 0 1px #fff,-6px 1px 1px #fff,-6px 2px 1px #fff, 0px 2px 1px #fff, 0px 1px 0px #fff, 0px 0 1px #fff,-6px -1px 1px #fff,
    -6px -2px 0px #fff, 0px -1px 0px #fff
    ,-1px -2px 0px #fff, 1px -1px 1px #fff,  1px -1px 1px #fff,-4px -2px 0px #fff,-3px -2px 0px #fff,-4px 2px 1px #fff, -3px 2px 1px #fff;
}

.map {
  margin: 0 auto;
  position: relative;
  width: 728px;
  height: 100%;
  /*top: 50px;*/
  background-image:url("../Images/grass.png");
  border-radius: 15px;
  box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.1);
  overflow: hidden;
}


.tile {
  height: 50px;
  width: 50px;
  border: 1px dotted white;
  float: left;
  position: relative;
}

.dozer {
  background: url("../Images/dozer.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}


.stone {
  background: url("../Images/stoneblock2.png");
  background-repeat: none;
  background-size: contain;
}

.wall {
  background: url("../Images/dirtblock.png");
  background-repeat: none;
  background-size: contain;
}

.target {
  background: url("../Images/target.png");
  background-repeat: none;
  background-size: contain;
}

.rotate {
  transform: rotate();
}

footer {
  width: 100%;
  text-align: center;
  font-family: helvetica, arial;
  margin-top: 200px;
  color: #e37e74;
  padding: 2% 0;
  font-weight: lighter;
}

a {
  color: #ffae25;
  font-weight: bolder;
}
