body{
  background-image:url("../Images/background.jpg");
  margin: 0;
  padding: 0;
  height: auto;
  background-size: cover;
}


.title {
  background-color: #C6A9BF;
  font-family: helvetica, arial;
  color: rgba(0, 0, 0, 0);
  letter-spacing: .4rem;
  font-style: italic;
  text-shadow:-2px 0 1px #ECDFE8, -4px 0 0 #C6A9BF,  -6px 0 1px #fff,-6px 1px 1px #fff,-6px 2px 1px #fff, 0px 2px 1px #fff, 0px 1px 0px #fff, 0px 0 1px #fff,-6px -1px 1px #fff, -6px -2px 0px #fff, 0px
  -1px 0px #fff ,-1px -2px 0px #fff, 1px -1px 1px #fff,  1px -1px 1px #fff,-4px -2px 0px #fff,-3px -2px 0px #fff,-4px 2px 1px #fff, -3px 2px 1px #fff,

  -6px 8px 0px #9B708E, -5px 7px 0px #9B708E, -4px 6px 0px #9B708E, -3px 5px 0px #9B708E, -2px 4px 0px #9B708E, -1px 3px 0px #9B708E, 0px 2px 0px #9B708E, 1px 1px 0px #9B708E,0px 3px 0px #9B708E,-8px
  -8px 0px #9B708E,

  -6px 8px 0px #715169,-6px 9px 0px #715169, -6px 10px 0px #715169, -6px 11px 0px #715169, -6px 12px 0px #B290A9, -6px 13px 0px #B290A9, -6px 14px 0px #B290A9, -6px 15px 0px #B290A9, -6px 16px 0px
  -#B290A9, -6px 17px 0px #B290A9, -6px 18px 0px #B290A9, -6px 19px 0px #B290A9, -6px 20px 0px #B290A9, -6px 21px 0px #B290A9, -6px 22px 0px #B290A9;
}

.map {
  margin: 0 auto;
  position: relative;
  width: 728px;
  height: 100%;
  top: 50px;
  background-image:url("../Images/grass.png");
  border-radius: 15px;
  box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.1);
  overflow: hidden;
}

.row {

}
.tile {
  height: 50px;
  width: 50px;
  border: 1px dotted white;
  float: left;
  position: relative;
}

.dozer {
  background: url("../Images/dozer.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}


.stone {
  background: url("../Images/stoneblock2.png");
  background-repeat: none;
  background-size: contain;
}

.wall {
  background: url("../Images/dirtblock.png");
  background-repeat: none;
  background-size: contain;
}

.target {
  background: url("../Images/target.png");
  background-repeat: none;
  background-size: contain;
}

.rotate {
  transform: rotate();
}
